task-management-ayushh/src/main/mule/users/user-fullnam-search.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\users\search\(FullName):task-management-ayush-config">
        <db:select doc:name="Select" doc:id="bf4224ce-9001-4ad6-80a2-1ac19dc2746d" config-ref="Database_Config1">
			<db:sql ><![CDATA[select * from User where FullName = :FullName]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"FullName": attributes.uriParams.FullName
}]]]></db:input-parameters>
		</db:select>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<try doc:name="Try" doc:id="df3f51a5-4504-40d3-afb0-1970830cd5a3" >
			<choice doc:name="Choice" doc:id="3f1977bc-33f7-48ea-a122-266dc76a97c9">
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="47a25e2d-aef2-4706-bb94-e1fdd92d925b">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<raise-error doc:name="Raise error" doc:id="b1beb258-91dd-40bb-8495-6b70e7bc11a8" type="FULLNAME:NOT VALID" />
			</otherwise>
		</choice>
		</try>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f88c8662-e6ad-453d-b76b-6526a4264dd9" type="FULLNAME:NOT VALID">
				<ee:transform doc:name="Transform Message" doc:id="7a9c8331-fbb4-4766-85e8-a86734e73b9c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "code": "GETFAILS",
  "message": "User doesn't exist exist"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    
</flow>
	</mule>
