task-management-ayushh/src/main/mule/users/user-emailDomain.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\users\email-domain\(domain):task-management-ayush-config">
        <db:select doc:name="Select" doc:id="4b46c8b1-e781-498b-9169-64a13cb30a5c" config-ref="Database_Config1">
			<db:sql ><![CDATA[select * from User where Email = :Email]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"Email" : attributes.uriParams.'domain'
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="domain">attributes.uriParams.'domain'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<choice doc:name="Choice" doc:id="72d57514-840d-485d-9bdb-2d5fb61be240" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="eb87476f-896b-4c5e-bc04-f70efd0021e2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="48c0f286-99eb-4945-b503-9406115cf735" type="ID:EMAIL"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="259d09c6-833d-4e0b-abc3-524e40b42e93" type="ID:EMAIL">
				<ee:transform doc:name="Transform Message" doc:id="db3057c0-f672-4615-946c-ab2dd86c0761" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "code": "GETFAILS",
  "message": "User doesn't exist exist"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    
</flow>
	</mule>
